################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/smallWorld/.vs/smallWorld/v15/*
/smallWorld/Debug/*
/smallWorld/smallWorld/Debug/*
